ul#css3menu1, ul#css3menu1 ul {
    margin: 0;
    list-style: none;
    padding: 0;
    background-repeat: repeat;
}

ul#css3menu1 ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-image: url(../images/icons/tans_gry.png);
    border-width: 1px;
    border-radius: 0px;
    padding: 0 9px 9px;
}

ul#css3menu1 li:hover>* {
    display: block;
}

ul#css3menu1 li {
    position: relative;
    zoom: 1;
    display: block;
    white-space: nowrap;
    font-size: 0;
    float: left;
}

ul#css3menu1 li:hover {
    z-index: 1;
}

ul#css3menu1 ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

ul#css3menu1 {
    padding: 0;
    font-size: 0;
    z-index: 999;
    position: relative;
    display: inline-block;
    zoom: 1;
    display: inline;
}

ul#css3menu1>li, ul#css3menu1 li {
    margin: 0;
}

* html ul#css3menu1 li a {
    display: inline-block;
}

ul#css3menu1 ul>li {
    margin: 0;
}

ul#css3menu1 a:active, ul#css3menu1 a:focus {
    outline-style: none;
}

ul#css3menu1 a, ul#css3menu1 a.pressed {
    display: block;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    font: bold 16px Arial;
    color: #999999;
    cursor: default;
}

ul#css3menu1 ul li {
    float: none;
    margin: 9px 0 0;
}

ul#css3menu1 ul a {
    text-align: left;
    padding: 0 0 0 0;
    background-color: transparent;
    background-image: none;
    border-width: 0;
    border-style: solid;
    border-radius: 0px;
    font: 16px Arial;
    color: #cccccc;
    text-decoration: none;
}

ul#css3menu1 li:hover>a {
    background-color: transparent;
    border-style: none;
    font: bold 16px Arial;
    /*color: #ffce6b;*/
    color: white;
    text-decoration: none;
    background-position: 0 100px;
}

ul#css3menu1 img {
    border: none;
    vertical-align: middle;
    margin-right: 4px;
}

ul#css3menu1 img.over {
    display: none;
}

ul#css3menu1 li:hover > a img.def {
    display: none;
}

ul#css3menu1 li:hover > a img.over {
    display: inline;
}

ul#css3menu1 li a.pressed img.over {
    display: inline;
}

ul#css3menu1 li a.pressed img.def {
    display: none;
}

ul#css3menu1 span {
    display: block;
    overflow: visible;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 0px;
}

ul#css3menu1 ul span {
    /*background-image: url("../excite/menu8_files/CSS3Menu/CSS3 MenuAA_files/css3menu1/arrowsub2.gif");*/
    padding-right: 17px;
}

ul#css3menu1 a {
    padding: 8px 10px 0 0;
    background-color: transparent;
    /*background-image: url("../excite/menu8_files/CSS3Menu/CSS3 MenuAA_files/css3menu1/arrowsub2.gif=");*/
    background-repeat: repeat;
    background-position: 0 200px;
    border-width: 0px;
    border-style: none;
    border-color: #ffffff;
    text-decoration: none;
}

ul#css3menu1 li:hover>a, ul#css3menu1 li>a.pressed {
    /*background-image: url("../excite/menu8_files/CSS3Menu/CSS3 MenuAA_files/css3menu1/arrowsub2.gif");*/
    background-position: 0 100px;
    /*color: #ffce6b;*/
    color: white;
    text-decoration: none;
}

ul#css3menu1 ul li:hover>a, ul#css3menu1 ul li>a.pressed {
    background-color: transparent;
    background-image: none;
    font: 16px Arial;
    /*color: #ffce6b;*/
    color: white;
    text-decoration: none;
}

ul#css3menu1 li.topfirst>a {
    border-radius: 0px 0 0 0px;
}

ul#css3menu1 ._>li>a {
    padding: 0;
}

ul#css3menu1 li.subfirst>a {
    border-width: 0;
    border-style: none;
    padding: 0;
}

ul#css3menu1 li.subfirst:hover>a, ul#css3menu1 li.subfirst>a.pressed {
    border-style: none;
}